@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100%;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #74a8ae;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.label {
  opacity: 0;
  transition: opacity 0.3s; /* Adjust time for faster/slower transition */
}

.hover-container:hover .label {
  opacity: 1;
}

.transition-all {
  transition: all 0.5s ease;
}


.star {
  cursor: pointer;
  font-size: 50px; /* Adjust the size as needed */
  color: gray; /* Default color of the star */
  transition: color 0.2s;
}

.star.filled {
  color: rgb(252, 235, 135); /* Filled color of the star when active */
}


.Bathroomlist-bg{
  /* box-shadow: 10px 10px 20px rgba(22, 4, 43, 0.788); */
background-color: #c1c7cdf8;
background-image: url('./images/smlessBTHRM.jpg');
}

.bathroom-veil{
  background-image: url('./images/bthrmdark.jpg');
  /* background-repeat: repeat; */

}

.Bathroom-card{
  box-shadow: 10px 10px 20px rgba(31, 12, 52, 0.252);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  background-color: #63b9cc85;

}

.search{
  box-shadow: 10px 10px 20px rgba(22, 4, 43, 0.23);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.shad{
    box-shadow: 10px 10px 20px rgba(22, 4, 43, 0.352);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.addBinput{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c5c5c5;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8f8f8f;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.overflow-scroll::-webkit-scrollbar {
  display:contents;
}

body {
  height: 100vh;
  margin: 0;
  /* This can prevent any unwanted scrolling.  */
  /* overflow: hidden;   */
}
