.content {
    /* Add some padding to allow scrolling */
    padding: 40px;
}

.bg-blue-gradient {
    background: linear-gradient(115deg, #103783, #07c8f9);
    color: #fff;
    padding: 20px;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    padding: 2rem;
    box-sizing: border-box;
}

.italic-text {
    font-style: italic;
}
