@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
    margin: 0;
    /* This can prevent any unwanted scrolling.  */
    /* overflow: hidden;   */
  }

  .bathroom-count-container {
   color:black;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .bathroom-count {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  