/* MapStyles.css */

.info-window {
    color: black; /* Change text color to black */
    padding: 10px;
  }
  
  .rating {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  
  .star {
    font-size: 18px;
    margin-right: 2px;
  }
  
  .gray {
    color: #ccc; /* Gray star color */
  }
  
  .yellow {
    color: #fdd835; /* Yellow star color */
  }
  