@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
    margin: 0;
    /* This can prevent any unwanted scrolling.  */
    /* overflow: hidden;   */
  }

  .bathroom-count-container {
   color:rgb(7, 18, 76);
    top: 10px;
    bottom: 10px;
    left: 10px;
    background-color: rgba(192, 192, 192, 0.314);
    display: flex;
    justify-content: center; 
    align-items: center;   
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .bathroom-count {
    font-size: 12px;
    font-weight: 600;
    margin: 0;
  }
  